# App
PROJECT_NAME=""
VERSION=""
ENVIRONMENT=""
DEBUG=""

# Server Settings
HOST=""
PORT=8000

# Database settings
# POSTGRES_USERNAME=""
# POSTGRES_PASSWORD=""
# POSTGRES_DOMAIN=""
# POSTGRES_PORT=""
# POSTGRES_DB_NAME=""
# POSTGRES_URL="postgresql+asyncpg://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_DOMAIN}:${POSTGRES_PORT}/${POSTGRES_DB_NAME}"

# MONGO_USERNAME="root"
# MONGO_PASSWORD="example"
# MONGO_DOMAIN="localhost"
# MONGO_PORT="27017"
# MONGODB_URL="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_DOMAIN}:${MONGO_PORT}/"
MONGO_DB_NAME=""

# Redis
REDIS_PROTOCOL=""
REDIS_DOMAIN=""
REDIS_PROTOCOL=""
REDIS_URL="redis://${REDIS_DOMAIN}:${REDIS_PORT}"

# RabbitMQ Message Broker
RABBITMQ_USERNAME=""
RABBITMQ_PASSWORD=""
RABBITMQ_DOMAIN=""
RABBITMQ_PORT=""
RABBITMQ_URL="amqp://${RABBITMQ_USERNAME}:${RABBITMQ_PASSWORD}@${RABBITMQ_DOMAIN}:${RABBITMQ_PORT}/"

# Authentication
SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="30"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
